* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  min-height: 100dvh;
  min-height: 100vh;
  gap: 1rem;
}

header {
  align-self: center;
  flex: 0.3;
}

.header {
  width: 8rem;
  height: 8rem;
  background-color: purple;
  border-radius: 50%;
  flex: 1;
}

.my_aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;

}
main {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 1rem;
}



.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem
}

.my_main {
  background-color: rosybrown;
  flex: 1;
}

.aside {
  border-radius: 5rem;
  background-color: rgb(99, 11, 88);
  flex: 1;

}

.side {
  display: flex;
  flex-direction: row;
  flex: 0.25;
  gap: 1rem;
}

.side_bar {
  background-color: rebeccapurple;
  flex: 1;
}

footer {
  flex: 0.7;
  background-color: aquamarine;
}



@media (min-width: 600px) {

  header {
    align-self: flex-start;
  }

  .my_aside {
    flex-direction: row;
    flex:1
  }
  
  
  main {
    flex-direction: row;
    flex: 3;
    gap: 2rem;
    margin: 4rem;
}
  .main-content{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 0.5rem;
    flex-wrap: wrap;
}

 
.side{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}







