* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  min-height:calc(100vh - 1rem);
  grid-template-rows: 30% auto 15%;
  gap: 1vh;
  padding: 1rem;
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vh;
}

.header {
  background-color: purple;
}

main {
  display: grid;
  gap: 1vh;
}

.aside {
  background-color: rosybrown;
}

footer {
  background-color: rgb(102, 114, 77);
}

@media screen and (min-width: 480px) {
  body {

    grid-template-rows: 15% 70% 15%;

  }

  header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}